@charset "utf-8";
/* CSS Document */
html {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Microsoft YaHei UI"
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.clear {
	clear: both;
}

.warp {
	width: 100%;
	height: 100%;
	background: url(../login-image/body.png) no-repeat;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../login-image/body.png',
		sizingMethod='scale');
	-ms-filter:
		"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../login-image/body.png', sizingMethod='scale')";
}

.login_center {
	width: 100%;
	height: 75%;
}

.login_top {
	width: 100%;
	height: 15%;
}

.login_top .logo_bg {
	width: 100%;
	height: 100%;
	position: relative;
}

.login_center .login_from {
	width: 542px;
	height: 302px;
	background: url(../login-image/login_dl_bg.png) no-repeat;
	position: fixed;
	left: 33%;
	top: 35%;
}

.login_center .login_from .user_input {
	position: relative !important;
	top: 102px !important;
	left: 185px !important;
	outline: medium !important;
}

.login_center .login_from .password_input {
	position: relative !important;
	top: 130px !important;
	left: 185px !important;
	outline: medium !important;
}

.login_center .login_from .btn_s {
	position: relative !important;
	top: 184px !important;
	left: 185px !important;
}

.login_center .login_from .btn_s input{
	position: relative ;
	top: -28px;
	width: 155px;
	height: 31px;
	display: block;
	background-color:rgb(43,99,137);
	border:1px solid rgb(43,99,137);
	color:#fff;
	font-size:16px;
	font-family:宋体;
}

.login_center .login_from .btn_text {
	position: absolute;
	top: 240px;
	right: 95px;
}

.login_center .login_from .btn_text a {
	width: 70px;
	height: 20px;
	display: block;
}

.login_bottom {
	width: 100%;
	height: 10%;
	background: #546fb4;
}

.login_bottom .copyright {
	color: #fff;
	font-size: 16px;
	padding-top: 1%;
	text-indent: 17em
}
#messageBox{
	position: relative !important;
	top: 179px !important;
	left: 185px !important;
}